/*testelogin*/
@import 
url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body{ height:100%; margin:0; }

/*Layout Flexivel rodapé fixo no fundo da página*/
body{ 
    display:flex; 
    flex-direction:column; /*até aqui tinha*/
    padding: 0;
    font-family: seans-serif;
}
footer{
    margin-top:auto; 
}


/*Designe do header*/
header{
    position: fixed;
    width: 100%;
    height:50px;
    z-index: 10;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    background-color: #344f63;
    background-image: -webkit-gradient(linear, left top, right top, from(#2E8B57), to(#2F4F4F));
    background-image: -webkit-linear-gradient(left, #2E8B57, #2F4F4F);
    background-image: linear-gradient(to right, #2E8B57, #2F4F4F);

}
header > div {
    float: left;
}
header .logo {
    padding-top: 7px;
}

.menu-button-toggle {
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    display: block;
}
.menu-button-toggle .fa {
    font-size: 1em!important;
}
.menu-button-toggle:hover {
    background-color: rgba(255,255,255,0.1);
}
header .extras {
    float: right;
    margin-right: 20px;
}
header .extras a{
    color: white;
    text-decoration: none;
}
usu {
    float: left;
    margin-left: 15px;
}

header .extras .extras-item {
    font-size: 20px;
    padding: 15px;
}
header .extras .extras-item:hover {
    background-color: rgba(255,255,255,0.1);
}


/*Ajusta o main para ficar abaixo do header*/
main {
    margin-top: 50px;
    padding: 20px;
}

/*Ajustes do footer*/
footer{
    min-height:50px;
    background:#eee;
}
footer .copyright {
    text-align: center;
    line-height: 50px;
}

/*Configurações da navbar*/
/* Adiciona transição suave na sidebar */
nav.sidebar, main, footer { 
    transition: margin 0.5s;
}
nav.sidebar { 
    width: 250px;
    height: calc(100vh);
    top: 50px;
    transition: left 0.5s;
    position: fixed;
    overflow: auto;
    background-color: #2E8B57;
    z-index: 10;
}
nav.sidebar::-webkit-scrollbar {
    width: 5px;
}
nav.sidebar::-webkit-scrollbar-thumb {
    background: #8FBC8F; /*barra de rolagem*/
}
nav.sidebar > ul {
    padding-bottom: 80px;
}
nav.sidebar .fa {
    margin-right: 8px;
}
nav.sidebar ul li a.sidebar-item{
    display: block;
    padding: 20px 0px 20px 10px;
    text-decoration: none;
    color: #eee;
    /*    color: #333;*/
}

/*Constroi o submenu*/
nav.sidebar ul li ul.submenu {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);    
    transform-origin: top;
    background: rgba(255,255,255,0.1);

}
nav.sidebar ul li ul.submenu.open {
    height: auto;
    transform: scaleY(1);    
    transition: ease-in-out 0.2s;
    background: rgba(255,255,255,0.1);
}
nav.sidebar ul li ul.submenu.open {
    background: rgba(255,255,255,0.1);
}
/*nav.sidebar ul li ul.submenu li a{
    padding-left: 20px;
}*/
nav.sidebar a.sidebar-item.active{
    border-left: 8px solid #8FBC8F;/*qnd clica em home*/
}
nav.sidebar a.sidebar-item:hover{
    background-color: #8FBC8F;/*na hora q passa o mouse*/
    color: white;
    transition: 0.3s;
}

@media(min-width: 701px) {
    nav.sidebar {
        left: -250px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .sidebar-active nav.sidebar  {
        left: 0px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .sidebar-active main, .sidebar-active footer {
        margin-left: 250px;
    }
}
@media(max-width: 700px) {

    nav.sidebar {
        left: -250px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .sidebar-open nav.sidebar {
        left: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

nav.sidebar .usuario {
    padding-top: 20px;
    margin-bottom: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2E8B57), to(#2E8B57));
    background-image: -webkit-linear-gradient(left top, #2E8B57, #2E8B57);
    background-image: linear-gradient(to right bottom, #2E8B57, #2E8B57);
    color: white;
}

nav.sidebar .usuario  .foto{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 2px #666;
}
nav.sidebar .usuario  .foto > img{
    width: 56px;
    height: 56px;
    padding: 2px;
    margin: 0 auto;
    border-radius: 50%;
}
nav.sidebar .usuario .nome {
    text-align: center;
    padding: 10px 0 20px 0;
}

/*Cards Dashboard*/
.card {
    padding: 10px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px black;
    border-bottom: 10px solid rgba(0,0,0,0.2);
}
.card-title {
    font-size: 1.5em;
    padding-left: 10px;
}
.card-content {
    /*line-height: 2em;*/
    font-size: 2em;
    padding: 10px 0 0 10px;
}
i.card-icon {
    float: right;
    font-size: 3em;
}
.c1 {
    background: #39B366;
    color: white;
}
.c2 {
    background: #673E9B;
    color: white;
}
.c3 {
    background: #F78F4E;
    color: white;
}
.receita {
    color: #46C83F;
}
.despesa {
    color: #EB4A60;
}

/*testelogin*/
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.entre{
    background: #8FBC8F;
}

.log{
    color: white;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    text-decoration: none;
}

.form {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #2E8B57, #2F4F4F);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body login{
    background: #8FBC8F;
    /*  background:#DCDCDC;*/
    background: -webkit-linear-gradient(right, #8FBC8F, #8DC26F);
    background: -moz-linear-gradient(right, #8FBC8F, #8DC26F);
    background: -o-linear-gradient(right,/* #76b852,*/ 8FBC8F, #8DC26F);
    background: linear-gradient(to left, #8FBC8F, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

/*Teste Login Primefaces*/

.white-button.ui-button.ui-state-default {
    background-color: #ffffff;
    color: #222222;
    border-color: #d6d6d6;
    /* with the exported variables from Nova and Luna Themes*/
    border-color: var(--input-border-color, #d6d6d6);
}

.white-button.ui-button.ui-state-default:enabled:hover, 
.white-button.ui-button.ui-state-default:focus {
    background-color: #f2f2f2;
    border-color: #ccc;
    color: #373a3c;
    /* with the exported variables from Nova and Luna Themes*/
    border-color: var(--input-hover-border-color, #ccc);
}

.green-button.ui-button.ui-state-default {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}

.green-button.ui-button.ui-state-default:enabled:hover, 
.green-button.ui-button.ui-state-default:focus {
    background-color: #4cae4c;
    border-color: #5cb85c;
}

.red-button.ui-button.ui-state-default {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
}

.red-button.ui-button.ui-state-default:enabled:hover, 
.red-button.ui-button.ui-state-default:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}

.ui-g-12 {
    width: 100%;
}